<div class="container product-container">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Ogólne Informacje</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="clientForm">
        <div class="row form-group">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="firstname" placeholder="Imię...">
            </mat-form-field>
          </div>
          <div class="col-sm-4 align-self-end ">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="lastname" placeholder="Nazwisko...">
            </mat-form-field>
          </div>
          <div class="col-sm-4 align-self-end ">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="age" placeholder="Wiek...">
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email...">
            </mat-form-field>
          </div>
          <div class="col-sm-4 align-self-end ">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="telephone" placeholder="Telefon...">
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <div class="row form-group size-row">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="biceps" placeholder="Biceps...">
            </mat-form-field>
          </div>
          <div class="col-sm-3 align-self-end ">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="chest" placeholder="Klatka...">
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="waist" placeholder="Talia...">
            </mat-form-field>
          </div>
          <div class="col-sm-3 align-self-end ">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="thigh" placeholder="Udo...">
            </mat-form-field>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="weight" placeholder="Waga">
            </mat-form-field>
          </div>
          <div class="col-sm-3 align-self-end">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Wzrost" formControlName="height"/>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 text-right">
            <button mat-raised-button color="primary" style="margin-right: 2%" type="submit" [disabled]="clientForm.invalid"
                    (click)="createClientModal.open()">Zapisz
            </button>
            <button mat-raised-button color="warn" [routerLink]="['/manage-client']">Wróć</button>
          </div>
        </div>
      </form>
</mat-expansion-panel>
</mat-accordion>


<modal #createClientModal>
  <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz utworzyć klienta?</h5></ng-template>
  <ng-template #modalFooter>
    <button mat-raised-button color="primary" data-dismiss="modal" (click)="addClient()">Zapisz</button>
    <button mat-raised-button color="warn" (click)="createClientModal.close()">Anuluj</button>
  </ng-template>
</modal>

