<div class="container product-container">
  <div class="row header-r'ow">
    <div class="col-md-5 float-md-left">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Szukaj...">
      </div>
    </div>
    <div class="col-md-7">
      <button class="btn btn-success btn-sm" [routerLink]="['/new-product']">Dodaj produkt</button>
    </div>
  </div>
  <div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Lp</th>
      <th>Nazwa</th>
      <th>Białko</th>
      <th>Węglowodany</th>
      <th>Tłuszcze</th>
      <th>Kalorie</th>
      <th>Typ</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | productFilter:filter">
      <td>{{product.id}}</td>
      <td [routerLink]="['/product', product.id]">{{product.name}}</td>
      <td>{{product.protein}} </td>
      <td>{{product.carbs}}</td>
      <td>{{product.fat}}</td>
      <td>{{product.kcal}}</td>
      <td>{{product.type.name}}</td>
      <td><button class="btn btn-sm btn-danger" (click)="deleteProductModal.open()">Usuń</button></td>
      <modal #deleteProductModal>
        <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz usunąć produkt o id {{product.id}}?</h5></ng-template>
        <ng-template #modalFooter>
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="deleteProduct(product.id)">Usuń</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteProductModal.close()">Anuluj</button>
        </ng-template>
      </modal>
    </tr>
    </tbody>
  </table>
  </div>
</div>



