.new-client-label
{
  font-weight: 900;
}

.accordion-header
{
  border-top: 2px solid black;
}

.accordion-panel
{
  margin-bottom: 4%;
}

.navigate-angle
{
  padding: 20px;
}

.navigate-angle:hover
{
  padding: 20px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.size-row
{
  margin-top: 5%;
}

.diet-row:hover
{
  background: burlywood;
}

.accordion-title
{
  cursor: pointer;
}

.accordion-title:hover
{
  text-decoration: underline;
  font-weight: bold;
}

.accordion-active
{
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.active-diet
{
  background: aquamarine;
}


