.new-client-label
{
  font-weight: 900;
}

.accordion-header
{
  border-top: 2px solid black;
}

.accordion-panel
{
  margin-bottom: 4%;
}

.navigate-angle
{
  padding: 20px;
}

.navigate-angle:hover
{
  padding: 20px;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.size-row
{
  margin-top: 5%;
}

.diet-row:hover
{
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.accordion-title
{
  cursor: pointer;
}

.accordion-title:hover
{
  text-decoration: underline;
  font-weight: bold;
}

.accordion-active
{
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

.active-diet
{
  font-weight: bolder;
  color: #c0392b;
  text-decoration: underline;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.navigate-arrow{
  color: grey;
}

.box {
  background: #ffc000;
  border-radius: 0px 4px 4px 0px;
  left: -254px;
  padding: 4px 4px 4px 0px;
  position: fixed;
  bottom: 20%;
  transition: transform 0.4s;
  width: 250px;
  z-index: 1;
}

.box--right {
  border-radius: 4px 0px 0px 4px;
  left: auto;
  right: -254px;
  padding: 4px 0px 4px 4px;
}

.box-show {
  transform: translateX(254px);
}

.box--right-show {
  transform: translateX(-254px);
}

.box .box__content {
  background: #fff;
  min-height: 400px;
  padding: 10px;
  position: relative;
}

.box .box__title {
  background: #fff;
  border: solid #ffc000;
  border-radius: 0px 0px 4px 4px;
  border-width: 0px 4px 4px;
  cursor: default;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -74px;
  text-align: center;
  top: 70px;
  transform: rotate(-90deg);
  width: 106px;
  cursor: pointer;
}

.box .box__title:hover {
  background: #ffe419;

}

.box--right .box__title {
  border-radius: 4px 4px 0px 0px;
  border-width: 4px 4px 0px;
  position: absolute;
  left: -74px;
}

mat-form-field {
  margin-right: 12px;
}

.progress-row:hover {
  background: aliceblue;
  font-weight: bolder;
  color: #c0392b;
}

.header {
  font-weight: bolder;
  font-size: xx-large;
}
