<div class="container product-container">
  <div class="accordion-panel">
    <div class="accordion-header" [ngClass]="{'accordion-active': showAccordions.get('info') === true}" (click)="showAccordions.set('info', !showAccordions.get('info'))">
      <h3 class="accordion-title">
        <i class="fa " [ngClass]="{'fa-angle-down': showAccordions.get('info') === true, 'fa-angle-right': showAccordions.get('info') === false}"></i>
        <span>Ogólne Informacje</span>
      </h3>
    </div>
    <div class="accordion-body" *ngIf="showAccordions.get('info')">
      <form [formGroup]="clientForm">
        <div class="row form-group">
          <div class="col-sm-4">
            <label class="new-product-label">Imię:</label>
            <input class="form-control" formControlName="firstname" placeholder="Imię...">
          </div>
          <div class="col-sm-4 align-self-end ">
            <label class="new-product-label">Nazwisko:</label>
            <input class="form-control" formControlName="lastname" placeholder="Nazwisko...">
          </div>
          <div class="col-sm-4 align-self-end ">
            <label class="new-product-label">Data:</label>
            <input class="form-control" formControlName="date">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label class="new-product-label">Wiek:</label>
            <input class="form-control" formControlName="age" placeholder="Wiek...">
          </div>
          <div class="col-sm-4">
            <label class="new-product-label">Email:</label>
            <input class="form-control" formControlName="email" placeholder="Email...">
          </div>
          <div class="col-sm-4 align-self-end ">
            <label class="new-product-label">Numer telefonu:</label>
            <input class="form-control" formControlName="telephone" placeholder="Telefon...">
          </div>
        </div>
        <div class="row form-group size-row">
          <div class="col-sm-3">
            <label class="new-product-label">Biceps:</label>
            <input class="form-control" formControlName="biceps" placeholder="Biceps...">
          </div>
          <div class="col-sm-3 align-self-end ">
            <label class="new-product-label">Klatka:</label>
            <input class="form-control" formControlName="chest" placeholder="Klatka...">
          </div>
          <div class="col-sm-3">
            <label class="new-product-label">Talia:</label>
            <input class="form-control" formControlName="waist" placeholder="Talia...">
          </div>
          <div class="col-sm-3 align-self-end ">
            <label class="new-product-label">Udo:</label>
            <input class="form-control" formControlName="thigh" placeholder="Udo...">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-3">
            <label class="new-product-label">Waga:</label>
            <input class="form-control" formControlName="weight" placeholder="Waga...">
          </div>
          <div class="col-sm-3 align-self-end">
            <label class="new-product-label">Wzrost:</label>
            <input class="form-control" formControlName="height" placeholder="Wzrost...">
          </div>
          <div class="col-sm-6">

          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4 text-left">
            <i class="fa fa-angle-double-left fa-3x navigate-angle" (click)="changeClientVersion(0)"></i>
            <i class="fa fa-angle-left fa-3x navigate-angle" (click)="changeClientVersion(currentClientVersion - 1)"></i>
            <span *ngIf="clientForm.disabled">{{currentClientVersion + 1}} .. {{clientVersions.length}}</span>
            <span *ngIf="!clientForm.disabled">Nowa waersja</span>
            <i class="fa fa-angle-right fa-3x navigate-angle" (click)="changeClientVersion(currentClientVersion + 1)"></i>
            <i class="fa fa-angle-double-right fa-3x navigate-angle" (click)="changeClientVersion(clientVersions.length - 1)"></i>
          </div>
          <div class="col-sm-8 text-right">
            <button class="btn btn-danger btn-md" style="margin-right: 2%"
                    (click)="cancelNewVersion()" *ngIf="!clientForm.disabled">Wycofaj
            </button>
            <button class="btn btn-primary btn-md" style="margin-right: 2%" [disabled]="clientForm.invalid"
                    (click)="saveClientModal.open()" *ngIf="!clientForm.disabled">Zapisz
            </button>
            <button class="btn btn-info btn-md" (click)="createNewVersion()" *ngIf="clientForm.disabled">Utwórz nową wersję</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="accordion-panel">
    <div class="accordion-header" [ngClass]="{'accordion-active': showAccordions.get('progress') === true}">
      <h3 class="accordion-title">
        <div class="row">
          <div class="col-sm-10" (click)="showAccordions.set('progress', !showAccordions.get('progress'))">
            <i class="fa "
               [ngClass]="{'fa-angle-down': showAccordions.get('progress') === true, 'fa-angle-right': showAccordions.get('progress') === false}"></i>
            <span>Postępy</span>
          </div>
        </div>
      </h3>
    </div>
    <div class="accordion-body" *ngIf="showAccordions.get('progress')">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-striped">
            <thead>
            <th>Lp</th>
            <th>Waga</th>
            <th>Wzrost</th>
            <th>Biceps</th>
            <th>Klatka</th>
            <th>Talia</th>
            <th>Udo</th>
            </thead>
            <tbody>
            <tr *ngFor="let version of clientVersions; let i = index">
              <td>{{i + 1}}</td>
              <td>{{version.weight}}</td>
              <td>{{version.height}}</td>
              <td>{{version.biceps}}</td>
              <td>{{version.chest}}</td>
              <td>{{version.waist}}</td>
              <td>{{version.thigh}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-panel">
    <div class="accordion-header accordion-title" [ngClass]="{'accordion-active': showAccordions.get('graphs') === true}">
      <h3 class="accordion-title">
        <div class="row">
          <div class="col-sm-10" (click)="showAccordions.set('graphs', !showAccordions.get('graphs'))">
            <i class="fa "
               [ngClass]="{'fa-angle-down': showAccordions.get('graphs') === true, 'fa-angle-right': showAccordions.get('graphs') === false}"></i>
            <span >Wykresy</span>
          </div>
        </div>
      </h3>
    </div>
    <div class="accordion-body" *ngIf="showAccordions.get('graphs')">
      <div class="row">
      <div class="col-sm-12">
        <canvas baseChart width="800" height="200"
                [datasets]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [labels]="lineChartLabels"
                [chartType]="lineChartType">
        </canvas>
      </div>
      </div>
    </div>
  </div>

  <div class="accordion-panel">
    <div class="accordion-header" [ngClass]="{'accordion-active': showAccordions.get('diets') === true}" >
      <h3 class="accordion-title">
        <div class="row">
          <div class="col-sm-10" (click)="showAccordions.set('diets', !showAccordions.get('diets'))">
            <i class="fa " [ngClass]="{'fa-angle-down': showAccordions.get('diets') === true, 'fa-angle-right': showAccordions.get('diets') === false}"></i>
            <span>Diety</span>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-sm btn-success" *ngIf="showAccordions.get('diets')" (click)="createNewDiet()">Utwórz nową diete</button>
          </div>
        </div>
      </h3>
    </div>


    <div class="accordion-body" *ngIf="showAccordions.get('diets')">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Lp</th>
            <th>Utworzona przez</th>
            <th>Data utworzenia</th>
            <th>Kalorie</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let clientDiet of diets" class="diet-row" [ngClass]="{'active-diet':clientDiet.id === newDietRef.dietId}">
            <td (click)="setDietId(clientDiet.id)" [ngClass]="{'active-diet': clientDiet.id === newDietRef.dietId}">{{clientDiet.id}}</td>
            <td (click)="setDietId(clientDiet.id)" [ngClass]="{'active-diet': clientDiet.id === newDietRef.dietId}">{{clientDiet.createdBy}}</td>
            <td (click)="setDietId(clientDiet.id)" [ngClass]="{'active-diet': clientDiet.id === newDietRef.dietId}">{{clientDiet.creationTime}} </td>
            <td (click)="setDietId(clientDiet.id)" [ngClass]="{'active-diet': clientDiet.id === newDietRef.dietId}">{{clientDiet.kcal}} </td>
            <td [ngClass]="{'active-diet':clientDiet.id === newDietRef.dietId}">
              <button class="btn btn-sm btn-danger" (click)="deleteDietModal.open()">Usuń</button>
            </td>

            <td [ngClass]="{'active-diet' :clientDiet.id === newDietRef.dietId}">
              <button class="btn btn-sm btn-info" (click)="sendEmail(clientDiet.id)">Wyślij email</button>
            </td>
            <modal #deleteDietModal>
              <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz usunąć dietę o id {{clientDiet.id}}
                ?</h5></ng-template>
              <ng-template #modalFooter>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
                        (click)="deleteDiet(clientDiet.id)">Usuń
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteDietModal.close()">Anuluj</button>
              </ng-template>
            </modal>
          </tr>
          </tbody>
        </table>
      </div>
      <app-new-diet #newDietRef (refreshDietsEvent)="loadClientDiets()" [clientNo]="route.snapshot.params['clientNo']" [oldDiets]="diets"></app-new-diet>
    </div>
  </div>


</div>

<modal #saveClientModal>
  <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz zapisać klienta?</h5></ng-template>
  <ng-template #modalFooter>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="commitNewVersion()">Zapisz</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="saveClientModal.close()">Anuluj</button>
  </ng-template>
</modal>
