<div class="container product-container">
  <div class="accordion-panel">
    <div class="accordion-header" (click)="showInfo = !showInfo">
      <h3>
        <i class="fa " [ngClass]="{'fa-angle-down': showInfo === true, 'fa-angle-right': showInfo === false}"></i>
        <span>Informacje</span>
      </h3>
    </div>
    <div class="accordion-body" *ngIf="showInfo">
      <form [formGroup]="clientForm">
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="new-product-label">Imię:</label>
            <input class="form-control" formControlName="firstname" placeholder="Imię...">
          </div>
          <div class="col-sm-6 align-self-end ">
            <label class="new-product-label">Nazwisko:</label>
            <input class="form-control" formControlName="lastname" placeholder="Nazwisko...">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-4">
            <label class="new-product-label">Wiek:</label>
            <input class="form-control" formControlName="age" placeholder="Wiek...">
          </div>
          <div class="col-sm-4">
            <label class="new-product-label">Waga:</label>
            <input class="form-control" formControlName="weight" placeholder="Waga...">
          </div>
          <div class="col-sm-4 align-self-end">
            <label class="new-product-label">Wzrost:</label>
            <input class="form-control" formControlName="height" placeholder="Wzrost...">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-6">
            <label class="new-product-label">Email:</label>
            <input class="form-control" formControlName="email" placeholder="Email...">
          </div>
          <div class="col-sm-6 align-self-end ">
            <label class="new-product-label">Nazwisko:</label>
            <input class="form-control" formControlName="telephone" placeholder="Telefon...">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-12 text-right">
            <button class="btn btn-primary btn-md" style="margin-right: 2%" [disabled]="clientForm.invalid"
                    data-toggle="modal" data-target="#saveModal">Zapisz
            </button>
            <button class="btn btn-danger btn-md" type="submit" [routerLink]="['/manage-client']">Wróć</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="accordion-panel">
    <div class="accordion-header" >
      <h3>
        <div class="row">
          <div class="col-sm-10" (click)="showDiets = !showDiets">
            <i class="fa " [ngClass]="{'fa-angle-down': showDiets === true, 'fa-angle-right': showDiets === false}"></i>
            <span >Diety</span>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-sm btn-success" (click)="createNewDiet()">Utwórz nową diete</button>
          </div>
        </div>
      </h3>
    </div>



    <div class="accordion-body" *ngIf="showDiets">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Lp</th>
            <th>Utworzona przez</th>
            <th>Data utworzenia</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let clientDiet of diets">
            <td (click)="setDietId(clientDiet.id)">{{clientDiet.id}}</td>
            <td (click)="setDietId(clientDiet.id)">{{clientDiet.createdBy}}</td>
            <td (click)="setDietId(clientDiet.id)">{{clientDiet.creationTime}} </td>
            <td><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="setDietToDelete(clientDiet.id)">Usuń</button></td>

            <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Czy napewno chcesz usunąć dietę?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                      <span></span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="deleteDiet(dietToDelete)">Usuń</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Anuluj</button>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          </tbody>
        </table>
      </div>
      <app-new-diet #newDietRef [clientId]="route.snapshot.params['id']" [dietId]="dietIdToModify"></app-new-diet>
    </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="saveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Czy napewno chcesz zapisać klienta?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span></span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="modifyClient()">Zapisz</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>
