<div class="container product-container">
  <div class="table">
  <div class="table">
    <div class="row">
      <div class="col-sm-6" style="height: 100%">
        <div class="row dietRow" [ngClass]="{'active-row': mealOnDiet.mealNo == activeMeal}" *ngFor="let mealOnDiet of diet.meals" (click)="setActiveMeal(mealOnDiet.mealNo)"
             dnd-droppable (onDropSuccess)="moveToMeal($event, mealOnDiet.mealNo)">
          <div class="col-sm-1">
            <p>{{ mealOnDiet.mealNo }}</p>
          </div>
          <div class="col-sm-7 text-sm-center">
            <div class="row products-row-2">
            <div *ngFor="let productOnMeal of mealOnDiet.products; let i = index" class="col-sm-4">
              <app-product-on-diet [productInput]="productOnMeal" (dblclick)="deleteFromMeal(i)"></app-product-on-diet>
            </div>
            </div>
          </div>
          <div class="col-sm-2 meal-summary">
            <div class="row">
              <div class="col-sm-12">
                Białko: <br/>
                Węglowodany: <br/>
                Tłuszcze: <br/>
                <b>Kcal:</b> <br/>
                <button class="btn btn-primary btn-sm" data-toggle="modal"  data-target="#suplementsModal" (click)="setSuplements(mealOnDiet.mealNo)">Suplementy</button>
              </div>
            </div>
          </div>
          <div class="col-sm-2 meal-summary">
            <div class="row">
              <div class="col-sm-12">
                {{ getProteinsForMeal(mealOnDiet) | number:'1.1-2'}}<br/>
                {{ getCarbsForMeal(mealOnDiet) | number:'1.1-2'}}<br/>
                {{ getFatsForMeal(mealOnDiet) | number:'1.1-2'}}<br/>
                <b>{{ getEnergyForMeal(mealOnDiet) | number:'1.1-2'}}</b><br/>
                <input type="text" class="form-control input-group-sm needed-kcal" [(ngModel)]="mealOnDiet.kcal">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 kcal-difference">
                <span [ngClass]="{'greater': getEnergyForMeal(mealOnDiet) - mealOnDiet.kcal >= 0, 'lower': getEnergyForMeal(mealOnDiet) - mealOnDiet.kcal < 0}">{{ getEnergyForMeal(mealOnDiet) - mealOnDiet.kcal | number:'1.1-2' }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row meal-summary" *ngIf="diet.meals && diet.meals.length > 0">
          <div class="col-sm-3" style="text-align: right;">
            Białko: <br/>
            Węglowodany: <br/>
            Tłuszcze: <br/>
            Kcal: <br/>
          </div>
          <div class="col-sm-2 meal-summary">
            {{ getProteinsForDiet() | number:'1.1-2'}}<br/>
            {{ getCarbsForDiet() | number:'1.1-2'}}<br/>
            {{ getFatsForDiet() | number:'1.1-2'}}<br/>
            {{ getEnergyForDiet() | number:'1.1-2'}}<br/>
          </div>
          <div class="col-sm-7">

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 center-block">
            <button *ngIf="diet.meals && diet.meals.length > 0" type="button" class="btn btn-sm btn-danger addDietBtn text-center" (click)="deleteMeal()">Usuń posiłek</button>
            <button type="button" class="btn btn-sm btn-success addDietBtn center" (click)="addMeal()">Dodaj posiłek</button>
            <button *ngIf="diet.meals && diet.meals.length > 0" type="button" (click)="addDiet()" class="btn btn-sm btn-success addDietBtn text-right">Zapisz Diete</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 product-column">
        <div class="row filter-row">
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="filter" class="form-control"  placeholder="Wpisz nazwę produktu...">
            </div>
            <div class="col-sm-6">
              <select id="type" [(ngModel)]="productTypeSelected" class="form-control">
                <option [ngValue]="null">Każdy typ</option>
                <option *ngFor="let item of types" value="{{ item.name }}">{{item.name}}</option>
              </select>
            </div>
        </div>
        <div class="row products-row">
            <div *ngFor="let product of products | productFilter:filter:productTypeSelected" (dblclick)="addToMeal(product)" dnd-draggable [dragEnabled]="true" [dragData]="product" class="col-sm-3">
              <app-product [productInput]="product"></app-product>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-success btn-sm" [routerLink]="['/manage-products']">Zarządzaj produktami</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    Copyright by Curek, 2018
  </div>
  <div class="box box-default">
    <code>
      <pre>{{diet | json}}</pre>
    </code>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="suplementsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suplementy posiłek {{activeMeal}}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        <textarea [(ngModel)]="diet.meals[activeMeal - 1].suplements" class="form-control" rows="5">

        </textarea>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="addSuplements()">Anuluj</button>
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" >Zapisz</button>
      </div>
    </div>
  </div>
</div>






