<div class="container product-container">
  <div class="table">
    <div class="table">
      <div class="row">
        <div class="col-sm-8" style="height: 100%">
          <div class="row">
            <div class="col-sm-12" >
<!--              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active" (click)="changeDietView('list')">
                  <input type="radio" name="view" id="listView" value="list"
                         autocomplete="off" checked> Lista
                </label>
                <label class="btn btn-info" (click)="changeDietView('images')">
                  <input type="radio" name="view" id="imagesView" value="images"
                         autocomplete="off"> Obrazki
                </label>
              </div>-->
              <button *ngIf="diet.meals && diet.meals.length > 0"
                      (click)="dietWithImages.open()" mat-raised-button color="primary"
                      class="dietWithImages">Pokaż diete z obrazkami
              </button>
            </div>
<!--          <div class="col-sm-3">
              Porównaj do:
            </div>
            <div class="col-sm-5" style="margin-bottom: 10%">
              <select id="typeOldId" (change)="getOldDiet($event.target.value)" class="form-control">
                <option [ngValue]="null"></option>
                <option *ngFor="let oldDiet of oldDiets" value="{{ oldDiet.id }}">{{oldDiet.id}} - {{oldDiet.createdBy}}
                  - {{oldDiet.creationTime | date: 'dd-MM-yyyy HH:mm:ss'}}</option>
              </select>
            </div>-->
          </div>
          <div class="row dietRow" [ngClass]="{'active-row': mealOnDiet.mealNo == activeMeal}"
               *ngFor="let mealOnDiet of diet.meals" (click)="setActiveMeal(mealOnDiet.mealNo)"
               dnd-droppable (onDropSuccess)="moveToMeal($event, mealOnDiet.mealNo)">
            <div class="col-sm-12 text-sm-left" *ngIf="dietView === 'list'">
              <table class="table table-striped row-table" [ngClass]="{'active-row-table': mealOnDiet.mealNo == activeMeal}">
                <thead>
                <th class="product-on-table text-center" style="width: 15%; border-right: 1px solid">
                   <span> <button (click)="deleteMeal(mealOnDiet.mealNo)" type="button" class="close close-button" aria-label="Close"><span aria-hidden="true">&times;</span></button></span>
                  <span>Posiłek nr {{ mealOnDiet.mealNo }}</span>

                  </th>
                <th class="product-on-table text-center" style="width: 15%">B</th>
                <th class="product-on-table text-center" style="width: 15%">W</th>
                <th class="product-on-table text-center" style="width: 15%">T</th>
                <th class="product-on-table text-center" style="width: 15%">K</th>
                <th class="product-on-table text-center" style="width: 25%">Waga</th>
                </thead>
                <tbody>
                <tr class="prod-row-on-diet" *ngFor="let productOnMeal of mealOnDiet.products; let i = index"
                    (dblclick)="deleteFromMeal(i)">
                  <td class="product-on-table text-right"
                      style="font-weight: bold; padding: 5px 0; width: 20%; border-right: 1px solid">{{productOnMeal.name}}</td>
                  <td class="product-on-table text-center"
                      style="width: 20%; padding: 5px 0">{{productOnMeal.protein * productOnMeal.weight / 100 | number:'1.1-2'}} </td>
                  <td class="product-on-table text-center"
                      style="width: 20%; padding: 5px 0">{{productOnMeal.carbs * productOnMeal.weight / 100 | number:'1.1-2'}} </td>
                  <td class="product-on-table text-center"
                      style="width: 20%; padding: 5px 0">{{productOnMeal.fat * productOnMeal.weight / 100 | number:'1.1-2'}} </td>
                  <td class="product-on-table text-center"
                      style="width: 20%; padding: 5px 0">{{productOnMeal.kcal * productOnMeal.weight / 100 | number:'1.1-2'}} </td>
                  <td class="product-on-table text-center" style="width: 10%; padding: 5px 0"><mat-form-field class="example-full-width"><input matInput
                                                                                                   maxlength="3" (click)="$event.stopPropagation()" (dblclick)="$event.stopPropagation()"
                                                                                                   [(ngModel)]="productOnMeal.weight"
                                                                                                                                                class="col-4 text-center" style="display: table-column; height: calc(1.5em); padding: .25rem .5rem; font-size: .600rem; line-height: 1; border-radius: .2rem"></mat-form-field> [g]
                  </td>
                </tr>
                <tr class="summary-row" style="border-bottom: 1px solid black">
                  <td class="text-center" style="width: 15%; border-right: 1px solid black">
                    <button class="btn btn-primary btn-sm" (click)="SuplModal.open()">Suplementy</button>
                  </td>
                  <td class="text-center"
                      style="width: 15%">{{getValuesForMeal(mealOnDiet, 'proteins')  | number:'1.1-2'}}</td>
                  <td class="text-center"
                      style="width: 15%">{{getValuesForMeal(mealOnDiet, 'carbs')  | number:'1.1-2'}}</td>
                  <td class="text-center"
                      style="width: 15%">{{getValuesForMeal(mealOnDiet, 'fats')  | number:'1.1-2'}}</td>
                  <td class="text-center"
                      style="width: 15%">{{getValuesForMeal(mealOnDiet, 'kcal')  | number:'1.1-2'}}</td>
                  <td class="text-center" style="width: 25%" (click)="$event.stopPropagation()">
                    <button class="btn btn-primary btn-sm" (click)="summaryMealModal.open()"><span style="font-size: smaller">Podsumowanie</span></button>

                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <modal #summaryMealModal>
              <ng-template #modalHeader><h5 class="modal-title text-center font-weight-bold">Podsumowanie
                posiłek {{mealOnDiet.mealNo}}</h5>
              </ng-template>
              <ng-template #modalBody>
                <div class="row">
                  <div *ngFor="let productOnMeal of mealOnDiet.products; let i = index" class="col-sm-4">
                    <app-product-on-diet [productInput]="productOnMeal" [disable]="true"></app-product-on-diet>
                  </div>
                </div>
                <div class="row" style="border-top: 1px solid black">
                  <div class="col-sm-12 text-center">
                    <div class="chart-wrapper">
                      <canvas baseChart
                              [data]="[[getValuesForMeal(mealOnDiet, 'proteins'),getValuesForMeal(mealOnDiet, 'carbs'),getValuesForMeal(mealOnDiet, 'fats')]]"
                              [labels]="['Białko [g]', 'Węglowodany [g]', 'Tłuszcze [g]']"

                              [chartType]="doughnutChartType"
                              [legend]="true"
                              [options]="{ plugins: {
                                              datalabels: {
                                                borderColor: 'black',
                                                borderRadius: 25,
                                                borderWidth: 2,
                                                color: 'black',
                                                font: {
                                                  weight: 'bold',
                                                  size: 20
                                                }
                                              }
                                            }}">
                      </canvas>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 text-right">
                    Białko: <br/>
                    Węglowodany: <br/>
                    Tłuszcze: <br/>
                  </div>
                  <div class="col-sm-8 text-left">


                    {{getValuesForMeal(mealOnDiet, 'proteins') / (getValuesForMeal(mealOnDiet, 'proteins') + getValuesForMeal(mealOnDiet, 'carbs') + getValuesForMeal(mealOnDiet, 'fats')) * 100 | number:'1.0'}} % <br/>
                    {{getValuesForMeal(mealOnDiet, 'carbs') / (getValuesForMeal(mealOnDiet, 'proteins') + getValuesForMeal(mealOnDiet, 'carbs') + getValuesForMeal(mealOnDiet, 'fats')) * 100 | number:'1.0'}} % <br/>
                    {{getValuesForMeal(mealOnDiet, 'fats') / (getValuesForMeal(mealOnDiet, 'proteins') + getValuesForMeal(mealOnDiet, 'carbs') + getValuesForMeal(mealOnDiet, 'fats')) * 100 | number:'1.0'}} % <br/>
                  </div>
                </div>
                <div class="row" style="border-top: 1px solid black">
                  <div class="col-sm-12 text-center">
                    <h3>Suplementy</h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    {{mealOnDiet.suplements}}
                  </div>
                </div>
              </ng-template>
              <ng-template #modalFooter>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"
                        (click)="summaryMealModal.close()">Zamknij
                </button>
              </ng-template>
            </modal>
            <modal #SuplModal>
              <ng-template #modalHeader><h5 class="modal-title">Suplementy posiłek {{mealOnDiet.mealNo}}</h5>
              </ng-template>
              <ng-template #modalBody>
                      <textarea [(ngModel)]="diet.meals[mealOnDiet.mealNo - 1].suplements" class="form-control"
                                rows="5"></textarea>
              </ng-template>
              <ng-template #modalFooter>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
                        (click)="SuplModal.close()">Zamknij
                </button>
              </ng-template>
            </modal>
            <div class="col-sm-8" *ngIf="dietView === 'images'">
              <div class="row">
                <div *ngFor="let productOnMeal of mealOnDiet.products; let i = index" class="col-sm-4">
                  <app-product-on-diet [productInput]="productOnMeal" [disable]="false"
                                       (dblclick)="deleteFromMeal(i)"></app-product-on-diet>
                </div>
              </div>
            </div>

            <div class="col-sm-2 meal-summary" *ngIf="dietView === 'images'">
              <div class="row">
                <div class="col-sm-12">
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'proteins') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'proteins') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'proteins') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'proteins') < 0}">Białko: </span><br/>
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'carbs') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'carbs') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'carbs') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'carbs') < 0}">Węglowodany: </span><br/>
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'fats') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'fats') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'fats') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'fats') < 0}">Tłuszcze: </span><br/>
                  <button class="btn btn-primary btn-sm" (click)="SuplModal.open()">Suplementy</button>
                  <modal #SuplModal>
                    <ng-template #modalHeader><h5 class="modal-title">Suplementy posiłek {{mealOnDiet.mealNo}}</h5>
                    </ng-template>
                    <ng-template #modalBody>
                      <textarea [(ngModel)]="diet.meals[mealOnDiet.mealNo - 1].suplements" class="form-control"
                                rows="5"></textarea>
                    </ng-template>
                    <ng-template #modalFooter>
                      <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"
                              (click)="SuplModal.close()">Anuluj
                      </button>
                      <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"
                              (click)="SuplModal.close()">Zapisz
                      </button>
                    </ng-template>
                  </modal>
                </div>
              </div>
            </div>
            <div class="col-sm-2 meal-summary" *ngIf="dietView === 'images'">
              <div class="row">
                <div class="col-sm-12">
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'proteins') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'proteins') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'proteins') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'proteins') < 0}">{{ getValuesForMeal(mealOnDiet, 'proteins') | number:'1.1-2'}}
                    / {{ getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'proteins') | number:'1.1-2'}}</span><br/>
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'carbs') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'carbs') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'carbs') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'carbs') < 0}">{{ getValuesForMeal(mealOnDiet, 'carbs') | number:'1.1-2'}}
                    / {{ getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'carbs') | number:'1.1-2'}}</span><br/>
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'fats') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'fats') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'fats') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'fats') < 0}">{{ getValuesForMeal(mealOnDiet, 'fats') | number:'1.1-2'}}
                    / {{ getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'fats') | number:'1.1-2'}}</span><br/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 kcal-difference">
                  <span
                    [ngClass]="{'greater': getValuesForMeal(mealOnDiet, 'kcal') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'kcal') >= 0, 'lower': getValuesForMeal(mealOnDiet, 'kcal') - getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'kcal') < 0}">{{ getValuesForMeal(mealOnDiet, 'kcal') | number:'1.1-2' }}
                    <br/> {{ getValuesForMeal(getMealOnOldDiet(mealOnDiet.mealNo), 'kcal') | number:'1.1-2'}}</span>
                </div>
              </div>
            </div>

          </div>
          <div class="row meal-summary" *ngIf="dietView === 'images' && diet.meals && diet.meals.length > 0">
            <div class="col-sm-3" style="text-align: right;">
                        <span
                          [ngClass]="{'greater': getValuesForDiet(diet, 'proteins') - getValuesForDiet(oldDiet, 'proteins') >= 0, 'lower': getValuesForDiet(diet, 'proteins') - getValuesForDiet(oldDiet, 'proteins') < 0}">Białko: </span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'carbs') - getValuesForDiet(oldDiet, 'carbs') >= 0, 'lower': getValuesForDiet(diet, 'carbs') - getValuesForDiet(oldDiet, 'carbs') < 0}">Węglowodany: </span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'fats') - getValuesForDiet(oldDiet, 'fats') >= 0, 'lower': getValuesForDiet(diet, 'fats') - getValuesForDiet(oldDiet, 'fats') < 0}">Tłuszcze: </span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'kcal') - getValuesForDiet(oldDiet, 'kcal') >= 0, 'lower': getValuesForDiet(diet, 'kcal') - getValuesForDiet(oldDiet, 'kcal') < 0}">Kcal: </span><br/>
            </div>
            <div class="col-sm-5 meal-summary">
                        <span
                          [ngClass]="{'greater': getValuesForDiet(diet, 'proteins') - getValuesForDiet(oldDiet, 'proteins') >= 0, 'lower': getValuesForDiet(diet, 'proteins') - getValuesForDiet(oldDiet, 'proteins') < 0}">{{ getValuesForDiet(diet, 'proteins') | number:'1.1-2'}}
                          / {{ getValuesForDiet(oldDiet, 'proteins') | number:'1.1-2'}}</span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'carbs') - getValuesForDiet(oldDiet, 'carbs') >= 0, 'lower': getValuesForDiet(diet, 'carbs') - getValuesForDiet(oldDiet, 'carbs') < 0}">{{ getValuesForDiet(diet, 'carbs') | number:'1.1-2'}}
                / {{ getValuesForDiet(oldDiet, 'carbs') | number:'1.1-2'}}</span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'fats') - getValuesForDiet(oldDiet, 'fats') >= 0, 'lower': getValuesForDiet(diet, 'fats') - getValuesForDiet(oldDiet, 'fats') < 0}">{{ getValuesForDiet(diet, 'fats') | number:'1.1-2'}}
                / {{ getValuesForDiet(oldDiet, 'fats') | number:'1.1-2'}}</span><br/>
              <span
                [ngClass]="{'greater': getValuesForDiet(diet, 'kcal') - getValuesForDiet(oldDiet, 'kcal') >= 0, 'lower': getValuesForDiet(diet, 'kcal') - getValuesForDiet(oldDiet, 'kcal') < 0}">{{ getValuesForDiet(diet, 'kcal') | number:'1.1-2'}}
                / {{ getValuesForDiet(oldDiet, 'kcal') | number:'1.1-2'}}</span><br/>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <button  color="success" class="addDietBtn btn btn-success btn-sm" (click)="addMeal()">Dodaj posiłek
          </button>
          <div class="row dietRow" *ngIf="dietView === 'list' && activeMeal">

            <table class="table table-striped">
              <thead>
              <td class="text-center" style="width: 25%">Białko</td>
              <td class="text-center" style="width: 25%">Węglowodany</td>
              <td class="text-center" style="width: 25%">Tłuszcze</td>
              <td class="text-center" style="width: 25%">Kalorie</td>
              </thead>
              <tbody>
              <tr class="summary-row">
                <td class="text-center"
                    style="width: 25%">{{getValuesForDiet(diet, 'proteins') | number:'1.1-2'}}</td>
                <td class="text-center" style="width: 25%">{{getValuesForDiet(diet, 'carbs') | number:'1.1-2'}}</td>
                <td class="text-center" style="width: 25%">{{getValuesForDiet(diet, 'fats') | number:'1.1-2'}}</td>
                <td class="text-center" style="width: 25%">{{getValuesForDiet(diet, 'kcal') | number:'1.1-2'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm-12 center-block">
              <button *ngIf="diet.meals && diet.meals.length > 0 && diet.id == null"
                      (click)="createDietModal.open()" mat-raised-button color="primary"
                      class="text-right bottom-button">Zapisz Diete
              </button>
              <button *ngIf="diet.meals && diet.meals.length > 0 && diet.id != null"
                      (click)="updateDietModal.open()" mat-raised-button color="primary"
                      class="text-right bottom-button">Aktualizuj diete
              </button>
              <button *ngIf="diet.meals && diet.meals.length > 0"
                      (click)="exportExcel()" mat-raised-button color="primary"
                      class="text-right bottom-button">Pobierz plik excel
              </button>

              <button *ngIf="diet.meals && diet.meals.length > 0"
                      (click)="shopList.open()" mat-raised-button color="primary"
                      class="text-right bottom-button">Pokaż liste zakupów
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 product-column" ngDraggable [handle]="ProductsHandle">
          <div class="row">
            <div class="col-sm-12">
<!--              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active" (click)="changeProductsView('list')">
                  <input type="radio" name="view" id="prodListView" value="list"
                         autocomplete="off" checked> Lista
                </label>
                <label class="btn btn-info" (click)="changeProductsView('images')">
                  <input type="radio" name="view" id="prodImagesView" value="images"
                         autocomplete="off"> Obrazki
                </label>
              </div>-->
            </div>
          </div>
          <div class="row filter-row" #ProductsHandle>
            <div class="col-sm-6">
              <mat-form-field class="filter-width">
              <input type="text" [(ngModel)]="filter" matInput placeholder="Szukaj produktu..." />
                </mat-form-field>

            </div>
            <div class="col-sm-6">
              <mat-form-field>
              <mat-select id="type" [(ngModel)]="productTypeSelected" placeholder="Wybierz Typ">
                <mat-option [value]="null">Każdy typ</mat-option>
                <mat-option *ngFor="let item of types" value="{{ item.name }}">{{item.name}}</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row products-row" *ngIf="productsView === 'images'">
            <div *ngFor="let product of products | productFilter:filter:productTypeSelected"
                 (dblclick)="addToMeal(product)" dnd-draggable [dragEnabled]="true" [dragData]="product"
                 class="col-sm-3">
              <app-product [productInput]="product"></app-product>
            </div>
          </div>

          <div class="row products-row" *ngIf="productsView === 'list'">
            <table class="table table-striped">
              <thead>
              <td class="text-center" style="width: 60%; font-weight: bold">Nazwa</td>
              <td class="text-center" style="width: 10%">B</td>
              <td class="text-center" style="width: 10%">W</td>
              <td class="text-center" style="width: 10%">T</td>
              <td class="text-center" style="width: 10%">Kcal</td>
              </thead>
              <tbody>
              <tr class="prod-row" *ngFor="let product of products | productFilter:filter:productTypeSelected"
                  (dblclick)="addToMeal(product)" dnd-draggable [dragEnabled]="true" [dragData]="product">
                <td class="text-center" style="width: 60%; padding: 0px; font-weight: bold">{{product.name}}</td>
                <td class="text-center" style="width: 10%; padding: 0px">{{product.protein}}</td>
                <td class="text-center" style="width: 10%; padding: 0px">{{product.carbs}}</td>
                <td class="text-center" style="width: 10%; padding: 0px">{{product.fat}}</td>
                <td class="text-center" style="width: 10%; padding: 0px">{{product.kcal}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <!--            <div class="col-sm-12">
                      <button class="btn btn-success btn-sm" [routerLink]="['/manage-products']">Zarządzaj produktami</button>
                    </div>-->
      </div>
    </div>
  </div>
</div>

<modal #createDietModal>
  <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz dodać diete?</h5></ng-template>
  <ng-template #modalFooter>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="addDiet()">Dodaj</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="createDietModal.close()">Anuluj</button>
  </ng-template>
</modal>

<modal #updateDietModal>
  <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz zaktualizować diete?</h5></ng-template>
  <ng-template #modalFooter>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="modifyDiet()">Aktualizuj</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="updateDietModal.close()">Anuluj</button>
  </ng-template>
</modal>


<modal #shopList>
  <ng-template #modalHeader><h5 class="modal-title">Lista zakupów</h5></ng-template>
  <ng-template #modalBody>
    <table>
      <thead>
        <th>Nazwa produktu</th>
        <th>Waga</th>
      </thead>
      <tbody>
      <tr *ngFor="let productOnShopList of createShopList()" class="shop-list">
        <td>{{productOnShopList.name}}</td>
        <td>{{productOnShopList.weight}}</td>
      </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</modal>

<modal #dietWithImages>
  <ng-template #modalHeader><h5 class="modal-title">Dieta: {{diet.creationTime | date: 'dd-MM-yyyy HH:mm:ss'}}</h5></ng-template>
  <ng-template #modalBody>



    <div class="row dietRow"
         *ngFor="let mealOnDiet of diet.meals">

      <div class="col-sm-8">
        <div class="row">
          <div *ngFor="let productOnMeal of mealOnDiet.products; let i = index" class="col-sm-4">
            <app-product-on-diet [productInput]="productOnMeal" [disable]="true"></app-product-on-diet>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{mealOnDiet.suplements}}
          </div>
        </div>
      </div>
      <div class="col-sm-2 meal-summary">
        <div class="row">
          <div class="col-sm-12">
            <span>Białko: </span><br/>
            <span>Węglowodany: </span><br/>
            <span>Tłuszcze: </span><br/>
          </div>
        </div>
      </div>
      <div class="col-sm-2 meal-summary">
        <div class="row">
          <div class="col-sm-12">
            <span>{{ getValuesForMeal(mealOnDiet, 'proteins') | number:'1.1-2'}} </span><br/>
            <span>{{ getValuesForMeal(mealOnDiet, 'carbs') | number:'1.1-2'}} </span><br/>
            <span>{{ getValuesForMeal(mealOnDiet, 'fats') | number:'1.1-2'}}</span><br/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 kcal-difference">
                  <span>{{ getValuesForMeal(mealOnDiet, 'kcal') | number:'1.1-2' }}
                    </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row meal-summary">
      <div class="col-sm-3" style="text-align: right;">
         <span>Białko: </span><br/>
        <span>Węglowodany: </span><br/>
        <span>Tłuszcze: </span><br/>
        <span>Kcal: </span><br/>
      </div>
      <div class="col-sm-5 meal-summary">
        <span>{{ getValuesForDiet(diet, 'proteins') | number:'1.1-2'}}</span><br/>
        <span>{{ getValuesForDiet(diet, 'carbs') | number:'1.1-2'}}</span><br/>
        <span>{{ getValuesForDiet(diet, 'fats') | number:'1.1-2'}}</span><br/>
        <span>{{ getValuesForDiet(diet, 'kcal') | number:'1.1-2'}}</span><br/>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</modal>


