<div class="container product-container">
  <form [formGroup]="productForm">
    <div class="row form-group">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4 align-self-end ">
        <label class="new-product-label">Typ:</label>
        <select id="type"  class="form-control" formControlName="type" >
          <option [ngValue]="null" *ngIf="!productForm.get('type').dirty" [disabled]="true">Wybierz typ</option>
          <option *ngFor="let item of types" value="{{item.id}}">{{item.name}}</option>
        </select>
      </div>
      <div class="col-sm-4 align-self-end ">
        <label class="new-product-label">Nazwa:</label>
        <input class="form-control" formControlName="name" placeholder="Nazwa">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label class="new-product-label">Węglowodany</label>
        <input class="form-control" formControlName="carbs" placeholder="Węglowodany">
        <p *ngIf="!productForm.get('carbs').valid && productForm.get('carbs').dirty">Wegle trzeba podać</p>
      </div>
      <div class="col-sm-3">
        <label class="new-product-label">Tłuszcze</label>
        <input class="form-control" formControlName="fat" placeholder="Tłuszcze">
      </div>
      <div class="col-sm-3">
        <label class="new-product-label">Białko</label>
        <input class="form-control" formControlName="protein" placeholder="Białko">
      </div>
      <div class="col-sm-3">
        <label class="new-product-label">Kalorie</label>
        <input class="form-control" formControlName="kcal" placeholder="Kalorie">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-12">
        <button class="btn btn-primary btn-md" style="margin-right: 2%" [disabled]="productForm.invalid" (click)="createClientModal.open()">Zapisz</button>
        <button class="btn btn-danger btn-md" type="submit" [routerLink]="['/manage-products']">Wróć</button>
      </div>
    </div>
  </form>
</div>

<modal #createClientModal>
  <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz utworzyć produkt?</h5></ng-template>
  <ng-template #modalFooter>
    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="addProduct()">Zapisz</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="createClientModal.close()">Anuluj</button>
  </ng-template>
</modal>
