<div class="product-container container">
  <div class="row image-row">
    <div class="col-sm-12" matTooltip="{{ getTooltipText(productInput) }}" matTooltipClass="prod-tooltip" ><img [src]="imageToShow" class="product-image"/></div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">{{productInput.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input [(ngModel)]="productInput.weight" disabled="disable" class="form-control weight-input">
    </div>
  </div>
</div>
