.product-container{
  font-size: x-small;
  padding-bottom: 40px;
}


.product-image{
  width: 100%;
}

.weight-input{
  font-size: xx-small;
  height: 50%;
  text-align: center;
}


