.product-container{
  width: 25%;
  font-size: x-small;
  float: left;
  padding-bottom: 40px;
  margin-top: 1%;
}

.image-row{
  min-height: 30px;
}

.product-image{
  width: 100%;
}

.weight-input{
  font-size: xx-small;
  height: 50%;
  text-align: center;
}


