<div class="container product-container">
  <div class="row header-row">
    <div class="col-md-5 float-md-left">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Szukaj...">
      </div>
    </div>
    <div class="col-md-7">
      <button class="btn btn-success btn-sm" [routerLink]="['/new-client']">Nowy klient</button>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Lp</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Waga</th>
        <th>Wzrost</th>
        <th>Email</th>
        <th>Telefon</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients | clientFilter:filter">
        <td [routerLink]="['/client', client.clientNo]">{{client.clientNo}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.firstname}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.lastname}} </td>
        <td [routerLink]="['/client', client.clientNo]">{{client.age}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.weight}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.height}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.email}}</td>
        <td [routerLink]="['/client', client.clientNo]">{{client.telephone}}</td>
        <td><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteClientModal.open()">Usuń</button></td>
        <modal #deleteClientModal>
          <ng-template #modalHeader><h5 class="modal-title">Czy napewno chcesz usunąć klienta o id {{client.id}}?</h5></ng-template>
          <ng-template #modalFooter>
            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" (click)="deleteClient(client.id)">Zapisz</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteClientModal.close()">Anuluj</button>
          </ng-template>
        </modal>
      </tr>
      </tbody>
    </table>
  </div>
</div>


